extends layout
block prepend content

    //
         Main hero unit for a primary marketing message or call to action 
    .hero-unit
        h1 #tackle
        p
            | Bet win
            br
            | #tackle is currently in beta.
        p
            a.btn.btn-primary.btn-large(href='/about') Learn more »
    hr
    .hero-unit
        h1 Help us out
        p We're still improving this service.  Let us know what killer features you want to see.
        p
            a.btn.btn-primary.btn-large(href='http://www.hashtackle.com/') Take a survey »
    hr