
/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */



/* ===== Custom Stylez ========================================================
   Author: Gose
   ========================================================================== */
body {
   padding-top: 60px;
   padding-bottom: 40px;
   }

.rightmargin {
	margin-right: 10px
}










